body,table{
	font-family: Arial;
	font-size: 12px;
}
.search_content{
	clear: left;
	height: 10px;
	padding: 4px;
}
.detail_title{
	background-color: #8E93E9;
	padding: 2px;
	-moz-border-radius: 2px;
}
