body {
 background-color: #FFC;
 font-family: "calibri"
}
/* 1. WRAPPER
---------------------------------- */
#wrapper {
 width: 1200px;
 margin: 15px auto;
 height: auto;
 padding: 20px;
 background-color: #FFF;
 box-shadow: 0px 0px 20px #F60;
 -moz-box-shadow:0px 0px 20px #F60;
 -webkit-box-shadow: 0px 0px 20px #F60;
 border-radius: 17px;
 -moz-border-radius: 17px;
 -webkit-border-radius: 17px;
}
/* 2. HEADER
---------------------------------- */
#header {
 width: 1200px;
 height: 30px;
 border: 1px solid #CCC;
 margin-bottom: 1px;
 text-align: center;
 font-size:26px;
 background: #60c8f2 url('../images/left.jpg') left top no-repeat;
 
 border-top: solid 1px #5AD7D7;
 border-bottom: solid 1px #1C7575;
 text-shadow: 0 1px 1px #007D7D;
 border-radius: 5px;
 -moz-border-radius: 5px;
 -webkit-border-radius: 5px;
}
/* 3. MENU
---------------------------------- */
#menu {
	padding: 0px;
	position: relative;
	background: #209D9D url(images/img02.gif) repeat-x top left;
	margin: 0;
	height: 30px;
	width: 1200px;
	font-size:12px;
	border-top: solid 1px #5AD7D7;
	border-bottom: solid 1px #1C7575;
	text-shadow: 0 1px 1px #007D7D;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#menu ul {
	list-style: none;
	padding-top: 0px;
	position: relative;
	left: -25px;
	font-size:12px;
}

#menu ul li {
	padding: 0px;
	margin-right: 10px;
	display: inline-block;
	font-size:12px;
}

#menu ul li a, #menu ul li span {
	text-decoration: none;
	color: #FFFFFF;
	letter-spacing: -1px;
	font-size:12px;
}

#menu ul li span b {
	display: inline-block;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 7px solid #1C7575;
	margin-left: 7px;
	position: relative;
	top: -1px;
}

#menu ul li.active {
	background: #1C7575;
	border-top: solid 1px #1A6B6B;
	border-bottom: solid 1px #5AD7D7;
	border-radius: 3px;
	padding-top: 0px;
	padding-bottom: 0px;
}

#menu ul li.active span b {
	border-top-color: #165E5E;
}

.dropotron {
	background: rgba(32,157,157,0.9);
	border-top: solid 1px #5AD7D7;
	border-bottom: solid 1px #1C7575;
	text-shadow: 0 1px 1px #007D7D;
	list-style: none;
	margin: 0;
	padding: 0px;
	min-width: 150px;
	font-size:12px;
	border-radius: 6px;
	box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.2);
}

.dropotron a, .dropotron span {
	color: #FFFFFF;
	text-decoration: none;
	letter-spacing: -1px;
	display: block;
	width: 100%;
	position: relative;
	font-size:12px;
}

.dropotron span b {
	display: inline-block;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-left: 7px solid #1C7575;
	position: absolute;
	right: 0px;
	top: 0px;
	font-size:12px;
}

.dropotron li:hover span b {
	border-left-color: #165E5E;
}

.dropotron li {
	padding: 3px 10px 3px 10px;
	margin: 2px 0 2px 0;
	border-radius: 3px;
}

.dropotron li:hover, .dropotron li.active {
	padding-top: 2px;
	padding-bottom: 2px;
	background: rgba(28,117,117,0.9);
	border-top: solid 1px #1A6B6B;
	border-bottom: solid 1px #5AD7D7;
	font-size:12px;
}

.dropotron-level-1 {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

/* 4. SIDEBAR
---------------------------------- */
#sidebar {
 float: right;
 width: 300px;
 height: 290px;
 border: 1px solid #CCC;
 margin-bottom: 7px;
 text-align: center;
}
/* 5. CONTENT
---------------------------------- */
#content {
 width: 1200px;
 height: auto;
 margin-top: 1px;
 border: 0px solid #CCC;
 margin-bottom: 7px;
 font-size:12px;
 background: #ecf8fd;
}
#search {
 width: 1200px;
 height: 70px;
 margin-top: 7px;
 border: 1px solid #CCC;
 margin-bottom: 7px;
}
#list {
 width: 1200px;
 height: 450px;
 margin-top: 7px;
 border: 1px solid #CCC;
 margin-bottom: 7px;
}
#content img{
 border-radius: 17px;
 -moz-border-radius: 17px;
 -webkit-border-radius: 17px;
 box-shadow: 0px 0px 10px #CCC;
 -moz-box-shadow:0px 0px 10px #CCC;
 -webkit-box-shadow: 0px 0px 10px #CCC;
 padding: 2px; margin-right: 10px;
 float:left;
}
/* 6. FOOTER
---------------------------------- */
#footer {
 width: 1175px;
 height: 20px;
 padding-top: 0px;
 padding-left: 20px;
 border: 1px solid #CCC;
 font-size:12px;
 text-align: center;
 background-color: #CCC;
 clear: both;
 border-radius: 3px;
 -moz-border-radius: 3px;
 -webkit-border-radius: 3px;
}